<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLVT.Properties.Settings.QLVT_NHAPXUATConnectionString"
      connectionString="Data Source=ADMIN-PC;Initial Catalog=QLVT_NHAPXUAT;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="QLVT.Properties.Settings.QLVT_NHAPXUATConnectionString1"
      connectionString="Data Source=ADMIN-PC\MSSQLSERVER02;Initial Catalog=QLVT_NHAPXUAT;User ID=TB;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="QLVT.Properties.Settings.QLVT_NHAPXUATConnection"
      connectionString="Data Source=ADMIN-PC\MSSQLSERVER01;Initial Catalog=QLVT_NHAPXUAT;User ID=TH;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="QLVT_NHAPXUATConnectionString" connectionString="XpoProvider=MSSqlServer;data source=ADMIN-PC;user id=sa;password=123456;initial catalog=QLVT_NHAPXUAT;Persist Security Info=true" />
    <add name="zephyrus-g15\mssqlserver1.QLVT_NHAPXUAT.dbo1" connectionString="XpoProvider=MSSqlServer;data source=ZEPHYRUS-G15\MSSQLSERVER1;user id=TH;password=123456;initial catalog=QLVT_NHAPXUAT;Persist Security Info=true" />
    <add name="QLVT.Properties.Settings.QLVT_NHAPXUATConnectionString3"
      connectionString="Data Source=ZEPHYRUS-G15\MSSQLSERVER1;Initial Catalog=QLVT_NHAPXUAT;Persist Security Info=True;User ID=TH;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="localhost_QLVT_NHAPXUAT_Connection" connectionString="XpoProvider=MSSqlServer;data source=ADMIN-PC\MSSQLSERVER01;user id=;password=;initial catalog=QLVT_NHAPXUAT;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Visual Studio 2013 Blue</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Times New Roman;10.8</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>