USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaPN]    Script Date: 11/8/2023 8:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraMaPN]
@MAPN nVARChar(10)
AS
BEGIN
	IF( EXISTS( SELECT * FROM PhieuNhap WHERE MAPN = @MAPN ) )
		RETURN 1;

	ELSE IF( EXISTS( SELECT * FROM LINK1.QLVT_NHAPXUAT.DBO.PhieuNhap WHERE MAPN = @MAPN ) )
		RETURN 1;
	RETURN 0;
END
GO
