USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaHoaDon]    Script Date: 11/10/2023 7:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraMaHoaDon]
	@MAHD nvarChar(10)
AS
BEGIN
	if( EXISTS( SELECT * FROM DBO.HOADON AS HD WHERE HD.MAHD = @MAHD))
		RETURN 1;
	ELSE IF( EXISTS( SELECT * FROM LINK1.QLVT_NHAPXUAT.DBO.HOADON AS HD WHERE HD.MAHD = @MAHD) )
		RETURN 1;
	RETURN 0;
END
GO
