USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_InDanhMucVatTu]    Script Date: 10/11/2023 9:03:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InDanhMucVatTu]
AS 
BEGIN 
SELECT dbo.VATTU.MAVT, 
	   dbo.VATTU.TENVT, 
	   dbo.LOAIVATTU.TENLVT, 
	   dbo.VATTU.SLT, 
	   dbo.VATTU.DVT
FROM   dbo.VATTU INNER JOIN dbo.LOAIVATTU ON dbo.VATTU.MALVT = dbo.LOAIVATTU.MALVT
ORDER BY TENVT ASC
END
GO
