USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaDDH]    Script Date: 11/9/2023 4:38:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraMaDDH]
	@MADDH nvarchar(10)
AS
BEGIN
	IF( EXISTS(SELECT * FROM DDH AS DH WHERE DH.MADDH = @MADDH) )
		RETURN 1;
	ELSE IF ( EXISTS( SELECT * FROM LINK1.QLVT_NHAPXUAT.DBO.DDH AS DH WHERE DH.MADDH = @MADDH ) )
		RETURN 1;
	RETURN 0;-- id nhap vao khong ton tai
END
GO
