USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateChiTietPhieuNhap]    Script Date: 11/10/2023 12:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateChiTietPhieuNhap]
	@MAPN NVARCHAR(10),
	@MAVT NVARCHAR(5),
	@SOLUONG INT
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	BEGIN DISTRIBUTED TRAN;

	-- Kiểm tra tồn tại
	IF EXISTS (SELECT MAPN FROM CTPN WHERE @MAPN = CTPN.MAPN)
	BEGIN
		-- Update dữ liệu
		UPDATE DBO.CTPN
		SET CTPN.SOLUONG = @SOLUONG
		WHERE @MAPN = CTPN.MAPN AND @MAVT = CTPN.MAVT;
		
		-- Kiểm tra số lượng ảnh hưởng
		IF @@ROWCOUNT > 0
		BEGIN
			COMMIT TRAN;
			RETURN 1;
		END
	END
	ROLLBACK; 
	RETURN 0;
END
GO
