USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuNhap]    Script Date: 11/10/2023 7:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoPhieuNhap]
	@MADDH NVARCHAR(10),
	@MAPN NVARCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN DISTRIBUTED TRAN;

	-- Thêm dữ liệu vào CTPN từ CTDDH
	INSERT INTO CTPN (MAPN, MAVT, SOLUONG, DONGIA)
	SELECT @MAPN, CT.MAVT, CT.SOLUONG, CT.DONGIA
	FROM CTDDH CT
	WHERE CT.MADDH = @MADDH;

	-- Kiểm tra số lượng bản ghi được thêm
	IF @@ROWCOUNT > 0
	BEGIN
		COMMIT TRAN; 
		RETURN 1;
	END
	ELSE
	BEGIN
		ROLLBACK; 
		RETURN 0;
	END
END
GO
