USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraPhieuNhapCuaDDH]    Script Date: 11/10/2023 12:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraPhieuNhapCuaDDH]
@MADDH nchar(10)
AS
BEGIN
	IF(EXISTS(SELECT 1 FROM DBO.PhieuNhap AS P WHERE P.MADDH = @MADDH))
		RETURN 1;
	ELSE IF( EXISTS(SELECT 1 FROM LINK1.QLVT_NHAPXUAT.DBO.PhieuNhap AS P WHERE P.MADDH = @MADDH))
		RETURN 1;
	RETURN 0;
END
GO
