USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTietSoLuong_TriGiatheoLoaiPhieu]    Script Date: 13/11/2023 10:01:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ChiTietSoLuong_TriGiatheoLoaiPhieu]
@ROLE NVARCHAR(10), @LOAI NVARCHAR(4), @NGAYBATDAU DATETIME, @NGAYKETTHUC DATETIME
AS
BEGIN
  IF(@ROLE = 'CONGTY')
  BEGIN
    IF(@LOAI = 'NHAP')
	BEGIN
	  SELECT FORMAT(NGAYLAP,'MM-yyyy') AS THANGNAM, TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(SOLUONG*DONGIA) AS TONGTRIGIA
	  FROM (SELECT NGAYLAP,MAPN FROM LINK0.QLVT_NHAPXUAT.DBO.PHIEUNHAP WHERE NGAYLAP BETWEEN @NGAYBATDAU AND @NGAYKETTHUC) PHIEU,
	       (SELECT TENVT, MAVT FROM VATTU) VT,
		   (SELECT SOLUONG, DONGIA, MAPN, MAVT FROM LINK0.QLVT_NHAPXUAT.DBO.CTPN) CT
		   WHERE PHIEU.MAPN = CT.MAPN AND VT.MAVT = CT.MAVT
		   GROUP BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
		   ORDER BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
	END
	ELSE
	BEGIN
	  SELECT FORMAT(NGAYLAP,'MM-yyyy') AS THANGNAM, TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(SOLUONG*DONGIA) AS TONGTRIGIA
	  FROM (SELECT NGAYLAP,MAHD FROM LINK0.QLVT_NHAPXUAT.DBO.HOADON WHERE NGAYLAP BETWEEN @NGAYBATDAU AND @NGAYKETTHUC) PHIEU,
	       (SELECT TENVT, MAVT FROM VATTU) VT,
		   (SELECT SOLUONG, DONGIA, MAHD, MAVT FROM LINK0.QLVT_NHAPXUAT.DBO.CTHD) CT
		   WHERE PHIEU.MAHD = CT.MAHD AND VT.MAVT = CT.MAVT
		   GROUP BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
		   ORDER BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
	END
  END
  ELSE 
  BEGIN
    IF(@LOAI = 'NHAP')
	BEGIN
	  SELECT FORMAT(NGAYLAP,'MM-yyyy') AS THANGNAM, TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(SOLUONG*DONGIA) AS TONGTRIGIA
	  FROM (SELECT NGAYLAP,MAPN FROM PHIEUNHAP WHERE NGAYLAP BETWEEN @NGAYBATDAU AND @NGAYKETTHUC) PHIEU,
	       (SELECT TENVT, MAVT FROM VATTU) VT,
		   (SELECT SOLUONG, DONGIA, MAPN, MAVT FROM CTPN) CT
		   WHERE PHIEU.MAPN = CT.MAPN AND VT.MAVT = CT.MAVT
		   GROUP BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
		   ORDER BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
	END
	ELSE
	BEGIN
	  SELECT FORMAT(NGAYLAP,'MM-yyyy') AS THANGNAM, TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(SOLUONG*DONGIA) AS TONGTRIGIA
	  FROM (SELECT NGAYLAP,MAHD FROM HOADON WHERE NGAYLAP BETWEEN @NGAYBATDAU AND @NGAYKETTHUC) PHIEU,
	       (SELECT TENVT, MAVT FROM VATTU) VT,
		   (SELECT SOLUONG, DONGIA, MAHD, MAVT FROM CTHD) CT
		   WHERE PHIEU.MAHD = CT.MAHD AND VT.MAVT = CT.MAVT 
		   GROUP BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
		   ORDER BY FORMAT(NGAYLAP,'MM-yyyy'), TENVT
	END
  END
END