USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaVTTrongCTDDH]    Script Date: 11/8/2023 8:20:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraMaVTTrongCTDDH]
@MADDH NVARCHAR(10),
@MAVT NVARCHAR(5)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM CTDDH WHERE CTDDH.MADDH = @MADDH
	AND CTDDH.MAVT = @MAVT) RETURN 1;
	RETURN 0;
END
GO
