USE [QLVT_NHAPXUAT]
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaVatTuChiNhanhKhac]    Script Date: 11/10/2023 7:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraMaVatTuChiNhanhKhac]
	@MAVT NVARCHAR(5)
AS
BEGIN
	IF EXISTS( SELECT 1 FROM LINK1.QLVT_NHAPXUAT.DBO.Vattu as V
				WHERE V.MAVT = @MAVT
				AND				
				(EXISTS(SELECT 1 FROM LINK1.QLVT_NHAPXUAT.DBO.CTPN WHERE CTPN.MAVT = @MAVT))
				OR (EXISTS(SELECT 1 FROM LINK1.QLVT_NHAPXUAT.DBO.CTHD WHERE CTHD.MAVT = @MAVT)) )
		RETURN 1;

	RETURN 0;
END
GO
