USE [QLVT_NHAPXUAT]
GO
/****** Object:  View [dbo].[view_LayMaNVLonNhat]    Script Date: 11/10/2023 7:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_LayMaNVLonNhat] AS
SELECT MAX(MANV) AS MaxMANV
FROM link0.QLVT_NHAPXUAT.dbo.NHANVIEN
GO
